<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0072)http://zurb.com/playground/projects/responsive-email-templates/hero.html -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

  <meta name="viewport" content="width=device-width"></meta>

  <title>Code</title>
</head>


<body bgcolor="#FFFFFF">

<h4>Dear <%=recipientName%>,</h4>
<p align="center"> We felt the need to notify you that your Home Foodies account login number is changed</p>
<p align="center" style="font-weight:bold "> <em style="font-weight: normal"> from </em><%=oldCell%> <em style="font-weight: normal">to</em>  <%=newCell%> <em style="font-weight: normal">by</em> <%=baseCell%>.</p>
<br/>
<br/>
<p  style="font-weight:bold;color: red"align="center">If this change isn't done by you, contact Home Foodies head office within next 12 hours!</p>
<br/>
<br/>
<p align="right" style="font-weight: lighter">At your service</p>
<p align="right" style="font-weight: bold"><%=senderName%></p>


</body>
</html>
